<?xml version="1.0" ?>
<config>
    <modules>
        <Rabee3_Slack>
            <version>0.1.0</version>
        </Rabee3_Slack>
    </modules>
    <global>
        <models>
            <slack>
                <class>Rabee3_Slack_Model</class>
            </slack>
        </models>
        <events>
            <sales_order_place_after>
                <observers>
                    <slack_ordersubmit>
                        <type>Singleton</type>
                        <class>slack/observer</class>
                        <method>slackNewOrder</method>
                    </slack_ordersubmit>
                </observers>
            </sales_order_place_after>
            <customer_register_success>
                <observers>
                    <slack_customerregister>
                        <type>Singleton</type>
                        <class>slack/observer</class>
                        <method>slackNewCustomer</method>
                    </slack_customerregister>
                </observers>
            </customer_register_success>
        </events>
        <helpers>
            <slack>
                <class>Rabee3_Slack_Helper</class>
            </slack>
        </helpers>
        <blocks>
            <slack>
                <class>Rabee3_Slack_Block</class>
            </slack>
        </blocks>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <slack>
                                            <title>Slack Updates</title>
                                        </slack>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <crontab>
        <jobs>
            <slack_orders_hourly_check>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>slack/observer::ordersHourly</model>
                </run>
            </slack_orders_hourly_check>
        </jobs>
    </crontab>
</config>
